@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon__image {
    position: absolute;
    bottom: 53%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 11.5%;
}

.pokemon__data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px, 6vw, 25px);
}

.pokemon__name {
    color: #3a444d;
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 65%;
    top: 64%;
    left: 13.5%;
}

.input__search {
    width: 100%;
    padding: 6%;
    outline: none;
    border: 2px solid #333;
    border-radius: 10px;
    font-weight: 650;
    color: #3a444d;
    font-size: clamp(8px, 6vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px #333;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
}